.well { border: thin solid; border-radius: 4px; }
.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input { border: thin solid; border-radius: 4px; }
.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input>li>a { padding: 5px 5px 5px 10px; }
.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input>li>a[data-value="ROPassageTimeOUP"] { border-bottom: thin solid; }
.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input>li>a[data-value="ADiffusionOUP"] { border-bottom: thin solid; }
.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input>li>a[data-value="AMeanOUP"] { border-top: thin solid; }
.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input>li>a[data-value="ADoubleOUP"] { border-bottom: thin solid; }
.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input>li>a[data-value="AOptionOUP"] { border-top: thin solid; }
.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input>li>a[data-value="AObligationOUP"] { border-bottom: thin solid; }
.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input>li>a[data-value="APTModeMedianMeanOUP"] { border-top: thin solid; }
.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input>li>a[data-value="APTProbabilityOUP"] { border-bottom: thin solid; }
.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input>li>a[data-value="FDDecisionOUP"] { border-bottom: thin solid; }
.nav.nav-pills.nav-stacked.shiny-tab-input.shiny-bound-input>li>a[data-value="MLRatioOUP"] { border-bottom: thin solid; }
#shiny-notification-ROundo { position: fixed; top: 360px; left: calc(26%); }
#shiny-notification-Aundo { position: fixed; top: 360px; left: calc(26%); }
#shiny-notification-FDundo { position: fixed; top: 360px; left: calc(38%); }
